<div class="vs-smooth vs-padding js-section">
    <h1 class="js-header">
        <span>My</span> <span>name</span> <span>is</span> <span>Flavien Guilbaud</span><span>,</span> <span>I'm</span> <span>a</span> <span>freelance</span> <span>digital</span> <span>art</span> <span>director</span> <span>&amp;</span> <span>designer</span> <span>based</span> <span>in</span> <span>Paris</span><span>,</span> <span>France</span><span>.</span> <span>I've</span> <span>co</span><span>-</span><span>founded</span> <span>the</span> <span>freelance</span> <span>studio</span> <span><a href="http://sa-studio.fr" target="_blank">Suspended Animations</a></span><span>.</span> <span>I've</span> <span>worked</span> <span>for</span>  <span>brands</span> <span>like</span> <span>:</span> <span>Sezane,</span> <span>Swatch,</span> <span>Omega,</span> <span>Chanel,</span> <span>Redbull,</span> <span>Arte,</span> <span>France</span> <span>Television</span> <span>and</span> <span>more</span> <span>...</span>
    </h1>
    <span class="label">FEEL FREE TO CONTACT / FOLLOW ME</span>
    <a href="mailto:hello@flavinsky.com" class="social">Mail</a>
    <a href="https://twitter.com/flavienguilbaud" target="_blank" class="social">Twitter</a>
    <a href="https://www.behance.net/flavienguilbaud" target="_blank" class="social">Behance</a>
    <a href="https://fr.linkedin.com/in/flavien-guilbaud-0b2a1a84" target="_blank" class="social">Linkedin</a>
    <a href="tel:+33651777743" class="social">+33651777743</a>
    <span class="label">Awards &amp; recognitions</span>
    <span class="prestigious multi award winner world leading designer much rare talent">Ali Sharaf : Site of the Day on Awwwards</span>
    <span class="prestigious multi award winner world leading designer much rare talent">Sevenhills : Behance Featured</span>
    <span class="prestigious multi award winner world leading designer much rare talent">Sevenhills : Site of the Day on Awwwards</span>
    <span class="prestigious multi award winner world leading designer much rare talent">Sevenhills : Site of the Day on FWA</span>
    <span class="prestigious multi award winner world leading designer much rare talent">One Year : Site of the Day on FWA</span>
    <span class="prestigious multi award winner world leading designer much rare talent">Onirim : Behance Featured</span>
    <span class="prestigious multi award winner world leading designer much rare talent">Onirim : Site of the Day on FWA</span>
    <span class="prestigious multi award winner world leading designer much rare talent">Onirim : Site of the Day on Awwwards</span>
    <span class="prestigious multi award winner world leading designer much rare talent">Onirim : Mobile of the Day on FWA</span>
    <span class="prestigious multi award winner world leading designer much rare talent">Cult Of Luna : Webdesign Served on Behance</span>
    <span class="prestigious multi award winner world leading designer much rare talent">Le Dernier Gaulois : Site of the Month on Awwwards</span>
    <span class="prestigious multi award winner world leading designer much rare talent">Le Dernier Gaulois : Cutting Edge Award on FWA</span>
    <span class="prestigious multi award winner world leading designer much rare talent">Le Dernier Gaulois : Site of the Day on Awwwards</span>
    <span class="prestigious multi award winner world leading designer much rare talent">Le Dernier Gaulois : Site of the Day on FWA</span>
    <span class="prestigious multi award winner world leading designer much rare talent">Le Dernier Gaulois : Mobile of the Day on FWA</span>
    <span class="prestigious multi award winner world leading designer much rare talent">Suspended Animations : Webdesign Served on Behance</span>
    <span class="prestigious multi award winner world leading designer much rare talent">Suspended Animations : Site of the Day on Awwwards</span>
    <span class="prestigious multi award winner world leading designer much rare talent">Suspended Animations : Mobile of the Day on FWA</span>
    <span class="prestigious multi award winner world leading designer much rare talent">House of Borel : Site of the Day on Awwwards</span>
    <span class="prestigious multi award winner world leading designer much rare talent">House of Borel : Site of the Day on FWA</span>
    <span class="prestigious multi award winner world leading designer much rare talent">Portfolio : The Webby Awards Honoree</span>
    <span class="prestigious multi award winner world leading designer much rare talent">Portfolio : Site of the Day on Awwwards</span>
    <span class="prestigious multi award winner world leading designer much rare talent">Velvet Hammer : Site of the Day on Awwwards</span>
    <span class="label">code by <a href="http://bbriel.me" target="_blank">baptiste briel</a></span>
</div>