<span class="index js-index">
    <span>0</span>
    <span>6</span>
</span>
<div class="vs-smooth vs-padding js-section">
    <div class="grid js-container">
        <div class="grid__row">
            <a href="#!/work/yse" class="grid__item grid__item--bottom js-item"
                data-title="Ysé"
                data-image="assets/images/work-7.jpg"
                style="background-image: url('assets/images/work-7.jpg');">
                <span>Ysé</span>
            </a>
            <a href="#!/work/sevenhills" class="grid__item grid__item--bottom grid__item--full spacer-right js-item"
                data-title="Sevenhills"
                data-image="assets/images/work-8.jpg"
                style="background-image: url('assets/images/work-8.jpg');">
                <span>Sevenhills</span>
            </a>
        </div>
        <div class="grid__row">
            <a href="#!/work/ali-sharaf" class="grid__item grid__item--top grid__item--full spacer-left js-item"
                data-title="Ali Sharaf"
                data-image="assets/images/work-9.jpg"
                style="background-size: cover; background-image: url('assets/images/work-9.jpg');">
                <span>Ali Sharaf</span>
            </a>
            <a href="#!/work/whitelist" class="grid__item grid__item--top js-item"
                data-title="Whitelist"
                data-image="assets/images/work-10.jpg"
                style="background-image: url('assets/images/work-10.jpg');">
                <span>Whitelist</span>
            </a>
        </div>
        <div class="grid__row">
            <a href="#!/work/f&w" class="grid__item grid__item--top js-item"
                data-title="F&amp;W"
                data-image="assets/images/work-5.jpg"
                style="background-size: cover; background-image: url('assets/images/work-11.jpg');">
                <span>F&amp;W</span>
            </a>
            <a href="#!/work/radioactivity" class="grid__item grid__item--top grid__item--full spacer-right js-item"
                data-title="Radioactivity"
                data-image="assets/images/work-6.jpg"
                style="background-size: cover; background-image: url('assets/images/work-12.jpg');">
                <span>Radioactivity</span>
            </a>
        </div>
        <div class="grid__row">
            <a href="#!/work/onirim" class="grid__item grid__item--bottom grid__item--full spacer-left js-item"
                data-title="Onirim"
                data-image="assets/images/work-2.jpg"
                style="background-image: url('assets/images/work-2.jpg');">
                <span>Onirim</span>
            </a>
            <a href="#!/work/cult-of-luna" class="grid__item grid__item--top spacer-right js-item"
                data-title="Cult of Luna"
                data-image="assets/images/work-1.jpg"
                style="background-image: url('assets/images/work-1.jpg');">
                <span>Cult of Luna</span>
            </a>
        </div>
        <div class="grid__row">
            <a href="#!/work/velvet-hammer" class="grid__item grid__item--top js-item"
                data-title="Velvet Hammer"
                data-image="assets/images/work-4.jpg"
                style="background-image: url('assets/images/work-4.jpg');">
                <span>Velvet Hammer</span>
            </a>
            <a href="#!/work/house-of-borel" class="grid__item grid__item--top grid__item--full spacer-right js-item"
                data-title="House Of Borel"
                data-image="assets/images/work-3.jpg"
                style="background-size: cover; background-image: url('assets/images/work-3.jpg');">
                <span>House Of Borel</span>
            </a>
        </div>
        <div class="grid__row">
            <a href="#!/work/eyes-on-talents" class="grid__item grid__item--top grid__item--full spacer-left js-item"
                data-title="Eyes on Talents"
                data-image="assets/images/work-6.jpg"
                style="background-size: cover; background-image: url('assets/images/work-6.jpg');">
                <span>Eyes on Talents</span>
            </a>
            <a href="#!/work/le-dernier-gaulois" class="grid__item grid__item--top js-item"
                data-title="Le Dernier Gaulois"
                data-image="assets/images/work-5.jpg"
                style="background-size: cover; background-image: url('assets/images/work-5.jpg');">
                <span>Le Dernier Gaulois</span>
            </a>
        </div>
    </div>
</div>
<span class="title js-title"></span>