<div class="project vs-smooth js-section">
    <div class="cover vh">
        <div class="js-container" data-image="assets/images/work/f&w/cover.jpg">
            <div class="js-layer layer"></div>
        </div>
        <div class="bar js-bar">
            <div class="device-content">
                <span>Scroll to discover</span>
            </div>
        </div>
    </div>
    <div class="info">
        <div class="device-content">
            <p>
            Project : Forth & Wonder<br>
            Agency : <a href="">Loafcreative</a><br>
            Role : Art Director &amp; Designer<br>
            Date : 2016<br>
            <a href="http://forthandwonder.com" target="_blank">Vist the website</a>
            </p>
        </div>
    </div>
    <div class="section padding" style="background: #f2f2f2;">
        <div class="css-video" style="padding-bottom: 62%;">
            <iframe src="https://player.vimeo.com/video/189776739?title=0&byline=0&portrait=0" width="1087" height="679" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        <img src="assets/images/work/f&w/01.jpg" alt="">
        <img src="assets/images/work/f&w/02.jpg" alt="">
        <img src="assets/images/work/f&w/03.jpg" alt="">
    </div>
    <div class="section cover" style="background: #1a1a1a;">
        <div class="img" style="background-image: url('assets/images/work/f&w/cover-01.jpg');"></div>
        <img src="assets/images/work/f&w/04.jpg" alt="">
        <img src="assets/images/work/f&w/05.jpg" alt="">
        <img src="assets/images/work/f&w/08.jpg" alt="">
    </div>
    <div class="section padding" style="background: #e6e6e4;">
        <img src="assets/images/work/f&w/06.jpg" alt="">
        <img src="assets/images/work/f&w/07.jpg" alt="">
    </div>
    <img src="assets/images/work/f&w/full-01.jpg" alt="" class="scale-with-grid">
    <a href="#!/work/radioactivity" class="next">
        <div class="device-content">
            <span>Next Project</span>
            <p>Radioactivity</p>
        </div>
    </a>
</div>
