<div class="project vs-smooth js-section">
    <div class="cover vh">
        <div class="js-container" data-image="assets/images/work/yse/cover.jpg">
            <div class="js-layer layer"></div>
        </div>
        <div class="bar js-bar">
            <div class="device-content">
                <span>Scroll to discover</span>
            </div>
        </div>
    </div>
    <div class="info">
        <div class="device-content">
            <p>
            Project : Ysé<br>
            Agency : <a href="">Freelance</a><br>
            Role : Co-Art Director &amp; Designer w/ Benjamin Guedj<br>
            Date : 2016<br>
            <a href="https://www.yse-lingerie.com/" target="_blank">Vist the website</a>
            </p>
        </div>
    </div>
    <div class="section padding" style="background: #f2f2f2;">
        <div class="device-content">
            <div class="css-video" style="padding-bottom: 63%;">
                <iframe src="https://player.vimeo.com/video/191077242?loop=1&title=0&byline=0&portrait=0" width="1097" height="686" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
            <img src="assets/images/work/yse/01.jpg" alt="">
            <img src="assets/images/work/yse/02.jpg" alt="">
        </div>
    </div>
    <div class="section cover padding-bottom" style="background: #1a1a1a;">
        <div class="img" style="background-image: url('assets/images/work/yse/cover-01.jpg');"></div>
        <div class="device-content">
            <img src="assets/images/work/yse/03.jpg" alt="">
        </div>
    </div>
    <div class="section padding" style="background: #f0e6e3;">
        <div class="device-content">
            <img src="assets/images/work/yse/04.jpg" alt="">
            <img src="assets/images/work/yse/05.jpg" alt="">
        </div>
    </div>
    <img src="assets/images/work/yse/full-01.jpg" alt="" class="scale-with-grid">
    <a href="#!/work/sevenhills" class="next">
        <div class="device-content">
            <span>Next Project</span>
            <p>Sevenhills</p>
        </div>
    </a>
</div>
