<div class="project vs-smooth js-section">
    <div class="cover vh">
        <div class="js-container" data-image="assets/images/work/sevenhills/cover.jpg">
            <div class="js-layer layer"></div>
        </div>
        <div class="bar js-bar">
            <div class="device-content">
                <span>Scroll to discover</span>
            </div>
        </div>
    </div>
    <div class="info">
        <div class="device-content">
            <p>
            Project : Sevenhills<br>
            Agency : <a href="">Immersive Garden</a><br>
            Role : Art Director &amp; Designer<br>
            Date : 2016<br>
            <a href="https://www.sevenhillswholefoods.com/experience/" target="_blank">Vist the website</a>
            </p>
        </div>
    </div>
    <div class="section padding" style="background: #e5dfd9;">
    <iframe src="https://player.vimeo.com/video/171570655?title=0&byline=0&portrait=0" width="1094" height="560" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        <img src="assets/images/work/sevenhills/01.jpg" alt="">
        <img src="assets/images/work/sevenhills/02.jpg" alt="">
    </div>
    <div class="section cover" style="background: #1a1a1a;">
        <div class="img" style="background-image: url('assets/images/work/sevenhills/cover-01.jpg');"></div>
        <img src="assets/images/work/sevenhills/03.jpg" alt="">
        <img src="assets/images/work/sevenhills/04.jpg" alt="">
        <img src="assets/images/work/sevenhills/05.jpg" alt="">
        <img src="assets/images/work/sevenhills/06.jpg" alt="">
    </div>
    <div class="section padding" style="background: #e5dfd9;">
        <img src="assets/images/work/sevenhills/07.jpg" alt="">
        <img src="assets/images/work/sevenhills/08.jpg" alt="">
        <img src="assets/images/work/sevenhills/09.jpg" alt="">
        <img src="assets/images/work/sevenhills/10.jpg" alt="">
        <iframe src="https://player.vimeo.com/video/171571368?title=0&byline=0&portrait=0" width="1097" height="556" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <img src="assets/images/work/sevenhills/full-01.jpg" alt="" class="scale-with-grid">
    <a href="#!/work/ali-sharaf" class="next">
        <div class="device-content">
            <span>Next Project</span>
            <p>Ali Sharaf</p>
        </div>
    </a>
</div>
