<div class="project vs-smooth js-section">
    <div class="cover vh">
        <div class="js-container" data-image="assets/images/work/amaio/cover.jpg">
            <div class="js-layer layer"></div>
        </div>
        <div class="bar js-bar">
            <div class="device-content">
                <span>Scroll to discover</span>
            </div>
        </div>
    </div>
    <div class="info">
        <div class="device-content">
            <p>
            Project : Amaio<br>
            Agency : <a href="">Freelance</a><br>
            Role : Art Director &amp; Designer <br>
            Date : 2016<br>
            <a href="flavinsky.com" target="_blank">Coming Soon</a>
            </p>
        </div>
    </div>
    <div class="section padding" style="background: #fff5fb;">
        <div class="device-content">
            <img src="assets/images/work/amaio/01.jpg" alt="">
            <img src="assets/images/work/amaio/02.jpg" alt="">
            <img src="assets/images/work/amaio/03.jpg" alt="">
        </div>
    </div>
    <div class="section cover" style="background: #121212;">
        <div class="img" style="background-image: url('assets/images/work/amaio/cover-01.jpg');"></div>
        <div class="device-content">
            <img src="assets/images/work/amaio/04.jpg" alt="">
            <img src="assets/images/work/amaio/05.jpg" alt="">
            <img src="assets/images/work/amaio/06.jpg" alt="">
        </div>
    </div>
    <div class="section padding" style="background: #f5fdff;">
        <div class="device-content">
            <img src="assets/images/work/amaio/08.jpg" alt="">
            <img src="assets/images/work/amaio/11.jpg" alt="">
            <img src="assets/images/work/amaio/12.jpg" alt="">
        </div>
    </div>
    <img src="assets/images/work/amaio/full-01.jpg" alt="" class="scale-with-grid">
    <a href="#!/work/house-of-borel" class="next">
        <div class="device-content">
            <span>Next Project</span>
            <p>House of Borel</p>
        </div>
    </a>
</div>
