<div class="project vs-smooth js-section">
    <div class="cover vh">
        <div class="js-container" data-image="assets/images/work/sezane/cover.jpg">
            <div class="js-layer layer"></div>
        </div>
        <div class="bar js-bar">
            <div class="device-content">
                <span>Scroll to discover</span>
            </div>
        </div>
    </div>
    <div class="info">
        <div class="device-content">
            <p>
            Project : Sézane<br>
            Agency : <a href="">Pitch Freelance</a><br>
            Role : Art Director &amp; Designer<br>
            Date : 2016<br>
            </p>
        </div>
    </div>
    <div class="section padding" style="background: #f2f2f2;">
        <div class="device-content">
            <img src="assets/images/work/sezane/01.jpg" alt="">
            <img src="assets/images/work/sezane/02.jpg" alt="">
        </div>
    </div>
    <div class="section cover" style="background: #1a1a1a;">
        <div class="img" style="background-image: url('assets/images/work/sezane/cover-01.jpg');"></div>
        <div class="device-content">
            <img src="assets/images/work/sezane/03.jpg" alt="">
        </div>
    </div>
    <div class="section padding" style="background: #e7e4e0;">
        <div class="device-content">
            <img src="assets/images/work/sezane/04.jpg" alt="">
            <img src="assets/images/work/sezane/05.jpg" alt="">
            <img src="assets/images/work/sezane/06.jpg" alt="">
            <img src="assets/images/work/sezane/07.jpg" alt="">
        </div>
    </div>
    <img src="assets/images/work/sezane/full-01.jpg" alt="" class="scale-with-grid">
    <a href="#!/work/house-of-borel" class="next">
        <div class="device-content">
            <span>Next Project</span>
            <p>House of Borel</p>
        </div>
    </a>
</div>
